body{
background-color: #e8ebf3;
}
table{
background-color: white !important;
}
.p20{
padding: 20px;          
}
.p12{
padding: 12px;
margin-left: 15px;
}
#main{         
margin-top: 50px;
padding-left: 35px;
padding-right: 35px;
}
#content{
margin-top: 6px;
}
.info{
  background-color: #f6f7fb;
}
.table-hover tbody tr:hover{
  background-color: #f6f7fb !important;
}
.active{
  background-color: #f6f7fb !important;
}  
.noActive{
  background-color: white !important;
}        
.fontColor{
  color: #213d8f;
  font-weight: normal;
}    
.noFontColor{
  color: #213d8f;
  font-weight: bold;
}      
.mr12{
  margin-right:12px;
  float: right;
}
.bt1{
  height: 37px;
  color: white;
  background-color: #8ec03f;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;   
  cursor: pointer;     
}
#loader {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.tabsCenter{
  text-align: center;
}
.tabsRight{
  text-align: right;
}
@media only screen and (max-width: 600px) {
    #main{         
      margin-top: 28px;
      padding-left: 7px;
      padding-right: 0px;
      width: 500px;
    }
    .mr12{
      float: none !important;
    }
}