<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://www.payvision.com/sites/all/themes/payvision/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">    
<!--     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./js/min/app.js"></script>
</head>

<!-- apply our angular app to our site -->
<body ng-app="payVisionApp">

<!-- NAVIGATION -->

<div id="main" ng-controller="mainController" ng-init="init()">   
  <div id="loader" ng-if="!transactionsData"></div>
  <div class="" >
    <div class="mr12">
      <div class="form-group">
        <button class="bt1" ng-click="search()">Search</button>
      </div>
    </div>
    <div class="mr12">
      <div class="form-group">
        <select class="form-control input-lg" id="sel2" ng-model="currency" ng-init=" currency = 'Currency'" ng-class="currency == 'Currency'?'noFontColor':'fontColor'">
          <option  ng-repeat="curr in Currencys"  value="{{curr.name}}" >{{curr.name}}</option>
        </select>
      </div>
    </div>  
    <div class="mr12">
      <div class="form-group ">
        <select class="form-control input-lg" id="sel1" ng-model="transactionType" ng-init=" transactionType = 'Transaction type'" ng-class="transactionType == 'Transaction type'?'noFontColor':'fontColor'">
          <option  ng-repeat="type in transactionTypes"  value="{{type.name}}" >{{type.name}}</option>
        </select>        
      </div>  
    </div>  
  </div>
  <div id="container-fluid">
    <table class="table table-hover" id="myTable" ng-init="">
      <thead>
        <tr class="fontColor">
          <th>Name</th>
          <th>Brand</th>
          <th class="tabsCenter">Last 4 digits</th>
          <th class="tabsCenter">Transaction type</th>
          <th class="tabsRight">Amount</th>
          <th>Currency</th>
        </tr>
      </thead>
      <tbody ng-repeat="data in transactionsData" ng-show="transactionsData">
        <tr  ng-class="toggle[$index]?'active':'noActive'"ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]" >
          <td>{{data.card.holderName}}</td>
          <td>{{data.brandId}}</td>
          <td class="tabsCenter">XXXX {{data.card.lastFourDigits}}</td>
          <td class="tabsCenter">{{data.action}}</td>
          <td class="tabsRight">{{data.amount}}</td>
          <td>{{data.currencyCode}}</td>        
        </tr>
          <tr ng-if="toggle[$index]" class="p20">
            <td colspan="6" class="info">     
              <div class="row p12">
                  <div class="col-sm-2 fontColor">
                      ID:
                  </div>    
                  <div class="col-sm-4">
                      {{data.id}}
                  </div>    
                  <div class="col-sm-2 fontColor">
                      First 6 digits:
                  </div>    
                  <div class="col-sm-2">
                      {{data.card.firstSixDigits}}    
                  </div>                         
              </div>
              <div class="row p12">
                  <div class="col-sm-2 fontColor">
                      Tracking code:
                  </div>    
                  <div class="col-sm-4">
                      {{data.trackingCode}}
                  </div>   
                  <div class="col-sm-2 fontColor">
                      Expiry month:
                  </div>    
                  <div class="col-sm-2">
                      {{data.card.expiryMonth}}    
                  </div>                         
              </div>    
              <div class="row p12">
                  <div class="col-sm-2 fontColor">
                      Brand ID:
                  </div>    
                  <div class="col-sm-3">
                      {{data.brandId}}
                  </div>  
                  <div class="col-sm-1"></div>   
                  <div class="col-sm-2 fontColor">
                      Expiry year:
                  </div>    
                  <div class="col-sm-2">
                      {{data.card.expiryYear}}    
                  </div>                         
              </div> 
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
    <!-- jQuery -->
	<script src="./node_modules/jquery/dist/jquery.min.js"></script>
     <!-- Bootstrap Core JavaScript -->
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>